# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python 
2. sql 
3. matlab

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib 
3. tensorflow

|Data Science Tools|
|------------------|
|bigml|
|apache spark|
||matlab|
|apache flink|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [4]:
(200/60)

3.3333333333333335

<b>Objectives:</b>
- python 
- sql
- matlab

## Author 
Khalid